body {
    background-color: #ffc8c8;
}

.top_block {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    margin-top: 2.5%;
}

.image_block {
    /*display: inline-flex;*/
    margin-left: 5%;
    margin-bottom: 1%;
    align-content: stretch;
}


#graph{
    position: absolute;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 211px;
    height: 211px;
}



.form_block{
    display: flex;
    margin-left: 5%;
}

.input_container{
    display: flex;
}

.input_container select,
.input_container input {
    /*border: none;*/
    background: transparent;
    border-radius: 7px;
}

.checkbox_container{
    display: inline-flex;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label{
    display: inline-flex;
    position: relative;
    padding-left: 25%;
    padding-right: 5%;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 18px;
    height: 18px;
    border-radius: 7px;
    border: 2px solid #6c6c6c;
    background-color: transparent;
}

input[type="checkbox"]:checked + label:before{
    background-color: #910000;
    border-radius: 7px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
}

.input_container {
    font-family: "Sitka Text", serif;
    font-size: 20px;
    margin-left: 10px;

}

.button_class .SubmitButton {
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}


.button_class .SubmitButton:active {
    background-color: #ffb3b3;
    border-color: #ffffff;
    color: white;
}

.button_class .SubmitButton:hover {
    background-color: #ffb3b3;
    border-color: #ffffff;
    color: white;
}

.result_table{
    display: inline-flex;
    margin-left: 5%;
    margin-top: 1%;
    /*margin-right: 25%;*/
    border-collapse: collapse;
    /*width: 90%;*/
}


.point {
    position: absolute;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

.point.miss {
    background-color: #ec0808;
}

.point.hit {
    background-color: #1dd90a;
}


